{% extends "customer/base.html" %}
{% block content %}

<h1>{{selected_food.menu.name}} </h1>
    
<p><img src="{{selected_food.menu.image.url}}" width='400'> </p> 
<p>{{selected_food.menu.description}} </p>
<p> Price: RM {{selected_food.menu.price}}</p>

<form action="{% url 'addtocart' selected_food.menu.id %}" method="post" oninput="x.value=parseInt(qty.value)*{{selected_food.menu.price}}">
    {% csrf_token %}
    <label for="qty"> x </label>
    <input type="number" name="qty" id="qty" min="0" value="{{selected_food.qty}}" required/>
    = RM <output name="x" for="qty" ></output>
    {% if selected_food.qty == 0 %}
        <input type="submit" value="Add to cart"/>
    {% else %}
        <input type="submit" value="Update cart"/>
    {% endif %}
</form>

<br><br>
<p> <a href= "{% url 'customer_home' %}"> Back to Menu </p>

{% endblock %}