{% extends "customer/base.html" %}
{% block content %}

<h1>{{current_menu.name}} </h1>
    
<p><img src="{{current_menu.image.url}}" width='400'> </p> 
<p>{{current_menu.description}} </p>
<p> Price: RM {{current_menu.price}}</p>

<form action="{% url 'addtocart' current_menu.id %}" method="post" oninput="x.value=parseInt(qty.value)*{{current_menu.price}}">
    {% csrf_token %}
    <label for="qty"> x </label>
    <input type="number" name="qty" id="qty" min="0" value="{{current_menu.qty}}" required/>
    = RM <output name="x" for="qty" ></output>
    {% if current_menu.qty == 0 %}
        <input type="submit" value="Add to cart"/>
    {% else %}
        <input type="submit" value="Update cart"/>
    {% endif %}
</form>

<br><br>
<p> <a href= "{% url 'customer_home' %}"> Back to Menu </p>

{% endblock %}